fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.23
pydantic==2.5.2
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.6
psycopg2-binary==2.9.9
python-dotenv==1.0.0
requests==2.32.3
Pillow==10.1.0
pypdfium2==4.24.0
split-image==2.0.1
typer==0.9.0
openai==1.75.0
pydantic[email]
pdf2json==0.3